<% for(var i=0;i< cars.length;i++) {%>
    <div class="row">
      <div class="col-12"><h3><%=cars[i].title %></h3></div>
      <div class="col-8">
        <p class="pl-2">
          <img
            src="/images/uploaded/cars 1.jpeg"
            alt="CAR IMAGE"
            style="float: left; padding: 10px"
            width="200px"
          />CAR MODEL: <%=cars[i].model %>
        </p>
      </div>
      <div class="col-4">
        <a href="/add-cart/<%=cars[i]._id %>" class="btn btn-info w-full"
          >Add To Order</a
        >
        <dl>
          <dt>Price</dt>
          <dd><%=cars[i].price %></dd>
          <dt>Color</dt>
          <dd><%=cars[i].color %></dd>
          <dt>Engine</dt>
          <dd><%=cars[i].engine %></dd>
        </dl>
      </div>
    </div>
    <% } %>
